/node_modules/
/tmp/
/lib/
/libdocs/
/dist/
/coverage/
/.nyc_output/
/jsdoc/
/docs/api/
.DS_Store
.idea/
js-stellar-base/

test/unit/out/
.vscode/launch.json
.vscode
target
.soroban

config/tsconfig.tmp.json
package-lock.json
