/node_modules/
/tmp/
/lib/
/libdocs/
/dist/
/coverage/
/jsdoc/
/.astro/
js-stellar-base/

test/unit/out/
target
.soroban
config/tsconfig.tmp.json

.DS_Store

.vscode/launch.json
.vscode
.idea/
.claude/
.copilot/
.codex/
