name: Tests

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        node-version: [20, 22]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      # Workaround for some `yarn` nonsense, see:
      # https://github.com/yarnpkg/yarn/issues/6312#issuecomment-429685210
      - name: Install Dependencies
        run: yarn install --network-concurrency 1

      - name: Install Playwright
        run: yarn playwright install
        run: yarn playwright install-deps chromium
        run: yarn playwright install-deps firefox

      - name: Build
        run: yarn build:prod

      - name: Unit Tests
        run: yarn test:node

      - name: Integration Tests
        run: yarn test:integration

      - name: Browser Tests
        run: yarn test:browser

      - name: Browser Tests (No Axios)
        run: yarn test:browser:no-axios
